<nav class="bg-blue-900 p-4 text-white fixed top-0 w-full transition ease-in-out duration-300 z-50 ">
    <div class="container mx-auto flex justify-between items-center ">
        <div class="flex items-center">
            <img src="https://superio-appdir.vercel.app/images/logo-2.svg" alt="Logo" class="h-10">
            <!-- <a href="/" class="text-lg font-bold"></a> -->
        </div>
        <div class="hidden md:flex md:items-center">
            <a href="/home" class="mr-4">Home</a>
            <a href="/findjobs" class="mr-4">Find Jobs</a>
            <a href="/employee" class="mr-4">Employee</a>
            <a th:href="@{/condidate/profile}" class="mr-4">Candidate</a>

            <a href="/contact" class="mr-4">Contact</a>
        </div>
        <div class="md:hidden">
            <button id="mobile-menu-button" class="focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                    <path fill-rule="evenodd"
                          d="M2 5a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm0 8a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm0 8a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1 1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                </svg>
            </button>
        </div>
        <div class="hidden md:flex md:space-x-4">
            <a href="/auth/login"
               class="px-4 py-2 border-2 border-white text-white rounded-full hover:bg-white hover:text-blue-800">Login
                / Register</a>
            <a href="/jobcontrol/new"
               class="px-4 py-2 border-2 border-blue-800 bg-white text-blue-800 rounded-full hover:bg-blue-800 hover:text-white">Job
                Post</a>
        </div>
    </div>
    <div id="mobile-menu" class="hidden md:hidden mt-4">
        <div class="flex flex-col items-center">
            <a href="/home" class="py-2">Home</a>
            <a href="/findjobs" class="py-2">Find Jobs</a>
            <a href="/employee" class="py-2">Employee</a>
            <a href="/condidate/profile" class="py-2">Candidate</a>
            <a href="/contact" class="py-2">Contact</a>
            <a href="/auth/login"
               class="py-2 border-2 border-white text-white rounded-full hover:bg-white hover:text-blue-800 w-full text-center mt-2">Login
                / Register</a>
            <a href="/jobcontrol/new"
                    class="py-2 border-2 border-blue-800 bg-white text-blue-800 rounded-full hover:bg-blue-800 hover:text-white w-full text-center mt-2">
                JobPost</a>
        </div>
    </div>
</nav>
<script>
    document.getElementById('mobile-menu-button').addEventListener('click', function () {
        var menu = document.getElementById('mobile-menu');
        if (menu.classList.contains('hidden')) {
            menu.classList.remove('hidden');
        } else {
            menu.classList.add('hidden');
        }
    });
</script>